.App{
      color:black;
      text-align: center;
      display:flex;
      flex-direction: column;
      align-items: center;
}

h1{
    margin: 0;
}

.header{
         color:white;
         background-color: #192a56;
         padding:14px;
         width:100%;
}

.form{
       margin-top: 20px;;
}

.data {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
       width:100%;
}

.data-val{
           
           display: flex;
           justify-content: space-between;
           width: 130%;
           background-color: rgb(250, 248, 248);
       }
